/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*UTILITIES*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/**row**/
.row {}

/**col**/
.row>[ class^="col"] {
    min-height: 50px;
    background-color: blue;
    color: white;
    border: 1px solid white;
}