/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/**row**/
.row.nested {
    padding: 10px;
}

/**col**/
.row>[ class^="col"] {
    min-height: 40px;
    background-color: rgb(55, 55, 231);
    color: white;
    border: 1px solid white;
    text-align: center;
    padding-top: 0.5rem;


}

.row>[ class^="col"] [ class^="col"] {
    background-color: rgb(33, 245, 33);
    border: 1px solid rgb(86, 86, 228);
}